
// Colors
    $primary: #f89334;
    $secondary: #000666;

    $danger: #dc3545;
    $success: #28a745;


//Font
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');
    $font-family-base: 'Lato', sans-serif;
    $font-weight-base:  400;
    $font-size-base: 1.6rem;

//Links
    $link-color: $primary;

    // Links hover{
        $link-hover-decoration: none;

//header
    $header-padding-x: 0;
    $header-padding-y: .5rem;

//Nav
    $navbar-padding-x: 0rem;
    $navbar-padding-y: 1rem;

    // brand/logo
    $navbar-brand-font-size: 3rem;

    //padding nav-link
    $navbar-nav-link-padding-x: 1rem;
    $nav-link-padding-y: .5rem;

    //dropdown - arrow
    $caret-width: .5rem;
    $caret-vertical-align: baseline;
        .dropdown-toggle::after{
            margin-bottom: calc(#{$caret-width} / 2);
        }

// Spacing
    $spacer: 1rem;

    $spacers: ();

    @for $i from 0 through 12 {
        $spacers: map-merge($spacers, ($i: $i * 1rem));
    }

// whidth template?
    //.container or .container-fluid
    $widthTemplate: ".container";

// does the site use material icons?
    //true or false
    $useMaterialIcons: "true";

//slider homepage
    $size-h-slider: 60rem;
