#header-top{
    // padding: $header-padding-y $header-padding-x !important;
    padding-top: $header-padding-y !important;
    padding-right: $header-padding-x !important;
    padding-bottom: $header-padding-y;
    padding-left: $header-padding-x!important;
    
    .header-top{
        &__social-media > *{
            margin: 0 1rem;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
        &__logo > *, &__social-media > *{
            margin-bottom: 0;
        }
    }
}