
#main-nav{
    z-index: 1;
    &.fixed-top{
        @extend #{$widthTemplate};
    }

    @include media-breakpoint-up(xl) {
        display: flex;
        justify-content: space-between;
    }

    @include full-bg-setcion();
}