$size-h-slider: 600px;

.home-slider{
    position: relative;
    height: $size-h-slider;
    #webyou-carosel{
        height: $size-h-slider;
        position: absolute;
        width: 100vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        .carousel-indicators{
            li{
                transition: all 1s ease-in-out;

                &.active{
                    width: 15px;
                }
            }
        }
        .carousel-inner{

            .carousel-item{
                height: $size-h-slider;

                &.active{

                }
                .carousel-image{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
    
                    }
                }
                .carousel-caption{
                    position: absolute;
                    left: 50%;
                    bottom: 50%;
                    transform: translate(-50%, 50%);
                    width: 50vw;

                    &--title{
                        font-size: 6rem;
                    }
                    &--text{
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}