.home-slider{
    position: relative;
    height: $size-h-slider-main;
    #webyou-carosel{
        @extend .h-100;
        position: absolute;
        width: 100vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        .carousel-indicators{
            li{
                transition: all 1s ease-in-out;

                &.active{
                    width: 1.5rem;
                }
            }
        }
        .carousel-inner{
            @extend .h-100;
            .carousel-item{
                height: $size-h-slider-main;

                &.active{

                }
                .carousel-image{
                    
                    img{
                        object-fit: cover;
                        height: 100vh;
                    }
                }
                .carousel-caption{
                    position: absolute;
                    left: 50%;
                    bottom: 50%;
                    transform: translate(-50%, 50%);
                    @extend #{$widthTemplate};

                    &--title{
                        font-size: $font-size-title-slider-main;
                        margin-bottom: $margin-bootom-title-slider-main;
                    }
                    &--text{
                        font-size: $font-size-text-slider-main;
                        margin-bottom: $margin-bootom-text-slider-main;
                    }
                }
            }
        }
    }
}