//Import Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');


html{
    // czy ta funkcja działa na wszystkie fonty ?
    // podstawowa wielkość 62.5% == 1rem == 10px
    font-size: 62.5%;
}

p{
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
}

h1, .h1{

}

h2, .h2{

}

h3, .h3{

}

h4, .h4{

}

h5, .h5{

}

h6, .h6{

}
