
// Colors
    $primary: #f89334;
    $secondary: #000666;

    $danger: #dc3545;
    $success: #28a745;


// whidth template? 
    //.container or .container-fluid
    $widthTemplate: ".container"; 

// does the site use material icons?
    //true or false
    $useMaterialIcons: "true";